.home-container {
    max-height: 100vh;
    width: 100%;
    height: 100vh;

    .home-card {
        max-width: 40%;
        width: 100%;

        .home-card-image {
            width: 250px;
            height: auto;

            > img {
                -webkit-user-drag: none;
                width: 100%;
                height: auto;
            }
        }
    }
}
