.page-not-found-content {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    &-stack {
        max-width: 500px;
        justify-content: center;
        align-items: center;
    }
}

// .page-not-found-content__stack {
//     max-width: 500px;
//     justify-content: center;
//     align-items: center;
// }
