.terminal-container {
    min-height: 100vh;
    width: 100%;
    height: 100%;

    background: #21232e;

    font-family:
        Consolas,
        Menlo,
        Monaco,
        Lucida Console,
        Liberation Mono,
        DejaVu Sans Mono,
        Bitstream Vera Sans Mono,
        Courier New,
        monospace,
        serif;
}
